body {
    font-family: Arial, sans-serif;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    z-index: 1000;
}

.toolbar button,
.toolbar select {
    margin-right: 5px;
}

#editor {
    min-height: 90vh; /* Definir a altura em 90vh */
    padding: 10px;
    background-color: #fff;
    margin-top: 60px;
}

#sourceCodeEditor {
    border: 1px solid #ccc;
    min-height: 85vh;
    background-color: #272822;
    color: #f8f8f2;
    display: none;
}

.CodeMirror {
    border: 1px solid #ccc;
    min-height: 85vh; /* Definir a altura em 85vh */
    margin-top: 60px;
}
